<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="static/styles.css">
  <link rel="icon" href="static/favicon.ico">
  <title>David Raskovsky</title>
  <link href="https://fonts.googleapis.com/css?family=Merriweather|Montserrat|Sacramento" rel="stylesheet">
</head>

<body>
  <div class="top-container">
    <img class="top-cloud" src="static/cloud.png" alt="cloud-img">
    <h1>I'm David</h1>
    <h3>a <span class="dev">Dev</span>eloper</h3>
    <img class="bottom-cloud" src="static/cloud.png" alt="cloud-img">
    <img src="static/mountain.png" alt="mountain-img">
  </div>
  <div class="midle-container">
    <div class="profile">
      <img src="static/circle-cropped.png" alt="david-profile-img">
      <h2>Hello.</h2>
      <p class="intro">I am a IT Engineer with experience doing web and Mobile Developer.</p>
    </div>
    <hr>
    <div class="skills">
      <h2>My Skills.</h2>
      <div class="skill-row">
        <img class="code-img" src="static/code-512.png" alt="code-img">

        <h3>Design & Development</h3>
        <p class="code-skill-desc">I started learning to code when I was 12 years old because The school have introductory classes to programming. Over time, I have gained a wealth of experience designing and developing mobile and web applications.
        </p>

      </div>
      <div class="skill-row">
        <img class="chilli-img" src="static/chillies.png" alt="chillies-img">

        <h3>Hot Chile</h3>
        <p class="chilli-skill-desc">But my best skill is actually in eating hot chillies. I love mexican food.</p>

      </div>
    </div>
    <hr>
    <div class="contact-me">
      <h2>Get In Touch</h2>
      <h3>If you need a good Developer.</h3>
      <p class="contact-message">Someone who like to do amazing code</p>
      <a class="btn" href="mailto:davidtucu@hotmail.com">CONTACT ME</a>
    </div>
  </div>
  </div>
  </div>
  <div class="botton-container">
    <a class="footer-link" href="https://www.linkedin.com/in/david-ariel-raskovsky-a64a4332">LinkedIn</a>
    <a class="footer-link" href="https://github.com/RaskovskyDavid">GitHub</a>
    <p class="copyright">© 2021 David Raskovsky</p>
  </div>
</body>

</html>
